@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.User {
    width: 100vw;
    height: 100vh;
    background: #2c2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 30em;
}

#sub {
    padding: 50px;
    background: #5e6169;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8em;
    box-shadow: rgba(145, 145, 157, 0.2) 0px 7px 29px 0px;
}

#email, #pass {
    width: 100%;
    height: 17%;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    padding: 0.8em;
    background: #232222;
    outline: none;
} #pass {
    opacity: 0.65;
}

.u1span {
    display: flex;
    width: calc(100%);
    /* margin-left: 15.5px; */
    align-items: center;
} 
/* #qmark {
    width: 100%;
} .u1span > span {
    position: relative;
    right: 31px;
    color: #dddbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}  */

.reg {
    width: 100%;
    height: 17%;
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    text-align: center;
    background-color: #f3835a !important;
    transition: .3s;
} .reg:hover {
    background-color: #fb7443 !important;
}

.u2span {
    color: white;
    font-weight: 200;
    font-size: small;
    opacity: 0.8;
}

.login {
    color: orange;
    transition: .3s;
} .login:hover {
    color: rgb(241, 147, 137);
}

#check {
    color: rgb(189, 247, 189);
    width: 1.1em;
    height: 1.1em;
    margin-bottom: 3px;
}

.error {
    color: rgb(255, 77, 77);
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
}

.nostyle {
    all: unset;
    width: 100%;
} .nostyle:hover {
    all: unset;
    width: 100%;
}